// VARIABLES
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
// COLORS
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$grey-dark: #777;
$white: #fff;
$black: #000;
$default-font-size: 1.6rem;