.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }
    &-white {
        background-color: #fff;
        color: #777;
        border-radius: 10rem;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &::after {
        content: '';
        display: inline-block;
        border-radius: 10rem;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.2s;
    }
    &-white::after {
        background-color: rgba(255, 255, 255, 0.404);
    }
    &:hover::after {
        transform: scale(1.4, 1.6);
        opacity: 0;
    }
    &-animated {
        animation: moveInBottom 1s ease-out 0.75s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $Medium-green;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $Medium-green;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        color: $white;
        background-color: $Light-green;
        box-shadow: 0 1rem 2rem rgba($black, 0.15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 5rem 2rem rgba($black, 0.15);
        transform: translate(0);
    }
}